.cart-container{
    padding: 20px;
    position: sticky;
}
.cart-container button p {
    margin-bottom: 0;
    margin-right: 5px;
}
.cart-container button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    padding: 10px;
}
.btn-clear{
    background-color: #FF3030;
    color: white;
}
.btn-review{
    background-color: #FF9900;
    color: white;
}